<div class="modal-header bg-primary" style="background-color:#333">
    <button type="button" class="bootbox-close-button close white" data-dismiss="modal" aria-hidden="true"
            style="margin-top: -10px;" ng-click="close()">×
    </button>
    <h4>Adicionar Nota</h4>

</div>

<div class="modal-body">
    <div class="row">
        <div class="col-sm-12">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Comentário</label>
                    <div class="col-sm-10">
                       <textarea  ng-model="pontual.texto"  cols="50" rows="10"></textarea>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


</div>
<div class="modal-footer">
    <button data-bb-handler="cancel" type="button" class="btn btn-default" ng-click="adicionarPontualNaLista(pontual)">Salvar</button>
</div>