<div class="modal-header bg-primary" style="background-color:#333">
    <button type="button" class="bootbox-close-button close white" data-dismiss="modal" aria-hidden="true"
            style="margin-top: -10px;" ng-click="$ctrl.close()">×
    </button>
    <h4>Escolher Caminho</h4>

</div>
<div class="modal-body">
    <form name="$ctrl.formModal"
          role="form"
          novalidate
          autocomplete="off"
          class="form-horizontal">
        
         <h1><a href="#" ng-click="goTo()">Genises</a></h1></form></br>

         <h1><a href="#" ng-click="selecionarCliente()">Selecionar Cliente</a></h1>


    </form>
</div>
