<div class="row">
    <panel title="Dados Revenda" icon="fa-user" height="40" col="7">
        <panel-actions>
            <button type="button" class="btn btn-default btn-sm" ng-click="gotoDev()"><i class="fa fa-arrows-alt" aria-hidden="true"></i></button>
        </panel-actions>
        <div class="row">
            <div class="col-md-6">
                <dl class="dl-flex">
                    <dt>Cliente Emissor</dt>
                    <dd class="ng-binding">64545656465</dd>
                    <dt>CNPJ</dt>
                    <dd class="ng-binding">445577688/0001-99</dd>
                    <dt>Telefone</dt>
                    <dd class="ng-binding">+55 11 54548888</dd>
                    <dt class="ng-binding">Cidade/UF</dt>
                    <dd class="ng-binding">São Paulo/SP</dd>
                    <dt class="ng-binding">Agrupador</dt>
                    <dd class="ng-binding">687454646</dd>
                </dl>
            </div>
            <div class="col-md-6">
                <dl class="dl-flex">
                    <dt>Razão</dt>
                    <dd class="ng-binding">CARREFOUR</dd>
                    <dt>Contato</dt>
                    <dd class="ng-binding">João Cachoeira</dd>
                    <dt>Email</dt>
                    <dd class="ng-binding">João@carrefour.com.br</dd>
                    <dt class="ng-binding">Supervisor</dt>
                    <dd class="ng-binding">654654654</dd>
                    <dt class="ng-binding">Nome</dt>
                    <dd class="ng-binding">Paula Hermann</dd>
                </dl>
            </div>
        </div>
    </panel>
    <panel title="Últimos Processos" icon="fa-bookmark" height="40" col="5">
        <panel-actions>
            <button type="button" class="btn btn-default btn-sm" ng-click="gotoDev()"><i class="fa fa-file-excel-o" aria-hidden="true"></i></button>
        </panel-actions>
        <table class="table table-hover">
            <!-- <caption>Monthly Kills</caption> -->
            <thead>
                <tr>
                    <th>#</th>
                    <th>Data/hora</th>
                    <th>Cliente</th>
                    <th>Processo</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <!-- <td contenteditable="true">12</td> -->
                    <td>1</td>
                    <td>14.04.17 - 17:30</td>
                    <td>Carrefour</td>
                    <td>423476</td>
                    <td>Em processamento</td>
                </tr>
                <tr>
                    <!-- <td contenteditable="true">12</td> -->
                    <td>1</td>
                    <td>20.04.17 - 12:30</td>
                    <td>Carrefour</td>
                    <td>564654</td>
                    <td>Encerrado</td>
                </tr>
            </tbody>
        </table>
    </panel>
</div>
<div class="row">
    <panel id="perfil" title="Perfil da Revenda" icon="fa-shopping-cart" height="60" col="6">
        <panel-actions>
            <button type="button" class="btn btn-warning btn-sm" ng-click="gotoDev()"><i class="fa fa-pencil" aria-hidden="true"></i></button>
        </panel-actions>
        <div class="row">
            <div class="client-info">
                <entry title="Número de Lojas:" type="text" size="12" model="voluntario.nome"></entry>
            </div>
        </div>
        <div class="row">
            <div class="graficos">
                <div class="graph graph1">
                    %LB
                </div>
                <div class="graph graph2">
                    %LM
                </div>
                <div class="graph graph3">
                    %OUTROS
                </div>
                <div class="graph graph4">
                    %TOS
                </div>
                <div class="graph graph5">
                    %MARCKUP
                </div>
            </div>
        </div>
        <div class="row">
            <div class="client-class">
                <span class="title">Perfil da Loja</span>
                <ul>
                    <input id="classea" type="checkbox" />
                    <label for="classea">Classe A</label>
                    <input id="classeb" type="checkbox" checked />
                    <label for="classeb">Classe B</label>
                    <input id="classec" type="checkbox" checked/>
                    <label for="classec">Classe C</label>
                    <input id="classed" type="checkbox" />
                    <label for="classed">Classe D</label>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <table class="table table-hover">
                    <!-- <caption>Monthly Kills</caption> -->
                    <thead class="thead-bold">
                        <tr>
                            <th>#</th>
                            <th>Players Linha Branca</th>
                            <th>%</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>ELECTROLUX</td>
                            <td>45%</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>PANASONIC</td>
                            <td>25%</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>SAMSUNG</td>
                            <td>30%</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>ATLAS</td>
                            <td>5%</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <table class="table table-hover">
                    <!-- <caption>Monthly Kills</caption> -->
                    <thead class="thead-bold">
                        <tr>
                            <th>#</th>
                            <th>Concorrentes Revenda</th>
                            <th>%</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>ELECTROLUX</td>
                            <td>45%</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>PANASONIC</td>
                            <td>25%</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>SAMSUNG</td>
                            <td>30%</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>ATLAS</td>
                            <td>5%</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </panel>
    <panel title="Notas" icon="fa-comments" height="60" col="6">
        <div class="row">
            <div class="col-md-6">
                <h3 class="title-gray-block">Gerais</h3>
                <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
                    <div uib-slide index="0" class="slide animated">
                        <span class="title">Comportamento</span>
                        <span class="text">Texto Comportamento - Feito contato com o cliente que comentou sobre promoções de outros concorrentes</span>
                    </div>
                    <div uib-slide index="1" class="slide animated">
                        <span class="title">Mercado</span>
                        <span class="text">Mercado - Feito contato com o cliente que comentou sobre promoções de outros concorrentes</span>
                    </div>
                    <div uib-slide index="2" class="slide animated">
                        <span class="title">Concorrência</span>
                        <span class="text">Feito contato com o cliente que comentou sobre promoções de outros concorrentes</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h3 class="title-gray-block">Pontuais 
                <button type="button" class="btn btn-success btn-sm note-plus" ng-click="gotoDev()"><i class="fa fa-plus-circle" aria-hidden="true"></i></button>

                </h3>
                <ul class="notes">
                    <li>
                        <span class="text">Feito contato com o cliente que comentou sobre promoções de outros concorrentes</span>
                        <span class="date">03.04.2017 - 09:36:45</span>
                    </li>
                    <li>
                        <span class="text">Feito contato com o cliente que comentou sobre promoções de outros concorrentes</span>
                        <span class="date">03.04.2017 - 09:36:45</span>
                    </li>
                    <li>
                        <span class="text">Feito contato com o cliente que comentou sobre promoções de outros concorrentes</span>
                        <span class="date">03.04.2017 - 09:36:45</span>
                    </li>
                    <li>
                        <span class="text">Feito contato com o cliente que comentou sobre promoções de outros concorrentes</span>
                        <span class="date">03.04.2017 - 09:36:45</span>
                    </li>
                </ul>
            </div>
        </div>
    </panel>
</div>
