<div class="row">
    <panel title="Dados Revenda" icon="fa-user" height="42" col="6">
        <panel-actions>
            <button type="button" class="btn btn-warning btn-sm" ng-click="editarDadosCliente()"><i
                    class="fa fa-arrows-alt" aria-hidden="true"></i></button>
        </panel-actions>
        <div class="row">
            <div class="col-md-6">
                <dl class="dl-flex">
                    <dt>Cliente Emissor</dt>
                    <dd class="ng-binding">{{selectedClient.clienteEmissorId}}</dd>
                    <dt>CNPJ</dt>
                    <dd class="ng-binding">{{selectedClient.cnpj}}</dd>
                    <dt>Telefone</dt>
                    <dd class="ng-binding">{{selectedClient.contatos[0].telefones[0].numero}}</dd>
                    <dt class="ng-binding">Cidade/UF</dt>
                    <dd class="ng-binding">{{selectedClient.cidade}}/{{selectedClient.uf}}</dd>
                    <dt>Supervisor</dt>
                    <dd class="ng-binding">{{selectedClient.contatos[0].supervisor.numero}}</dd>
                </dl>
            </div>
            <div class="col-md-6">
                <dl class="dl-flex">
                    <dt>Razão</dt>
                    <dd class="ng-binding">{{selectedClient.razao}}</dd>
                    <dt>Contato</dt>
                    <dd class="ng-binding">{{selectedClient.contatos[0].nome}}</dd>
                    <dt>Email</dt>
                    <dd class="ng-binding">{{selectedClient.contatos[0].emails[0].email}}</dd>
                    <dt class="ng-binding">Agrupador</dt>
                    <dd class="ng-binding">{{selectedClient.contatos[0].agrupador.numero}}</dd>
                    <dt>Nome</dt>
                    <dd class="ng-binding">{{selectedClient.contatos[0].agrupador.nome}}</dd>
                </dl>
            </div>
        </div>
    </panel>
    <panel title="Dados " icon="fa-bookmark" height="42" col="6">
        <div class="row">
            <!--     <  uib-tabset active="active" justified="false">
                     <uib-tab index="0" heading="Últ. Processos">
                         <div ui-grid="{ data: processos }"></div>
                     </uib-tab>
                     <uib-tab index="1" heading="Últ. Contatos">
                         <div ui-grid="{ data: contatos }"></div>
                     </uib-tab>
                     <uib-tab index="2" heading="Players Linha Branca">
                         <div ui-grid="{ data: linhaBranca }"></div>
                     </uib-tab>
                     <uib-tab index="3" heading="Concorrentes Revenda">
                         <div ui-grid="{ data: concorrentesRevenda }"></div>
                     </uib-tab>
                 </uib-tabset>-->
            <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
                <div uib-slide index="0"
                     class="slide animated">
                    <div class="row">
                        <div class="col-sm-4">
                            <h3>Últimos Processo</h3>
                        </div>
                        <div class="col-sm-offset-6 col-sm-2">
                            <button type="button" class="btn btn-default btn-sm" ng-click="atualizarProcesso()"><i
                                    class="fa fa-refresh" aria-hidden="true"></i></button>
                            <button type="button" class="btn btn-default btn-sm" ng-click="excelProcessos()"><i
                                    class="fa fa-file-excel-o" aria-hidden="true"></i></button>
                        </div>
                    </div></br>
                    <div class="row">
                        <div class="col-sm-12">
                            <div ui-grid="{ data: processos,  enableHorizontalScrollbar : 0}" class="grid"></div>
                        </div>
                    </div>
                </div>
                <div uib-slide index="1"
                     class="slide animated">
                    <div class="row">
                        <div class="col-sm-4">
                            <h3>Últimos Contatos</h3>
                        </div>
                        <div class="col-sm-offset-6 col-sm-2">
                            <button type="button" class="btn btn-default btn-sm" ng-click="atualizarContatoss()"><i
                                    class="fa fa-refresh" aria-hidden="true"></i></button>
                            <button type="button" class="btn btn-default btn-sm" ng-click="excelContatos()"><i
                                    class="fa fa-file-excel-o" aria-hidden="true"></i></button>
                        </div>
                    </div></br>
                    <div class="row">
                        <div class="col-sm-12">
                            <div ui-grid="gridContatos" class="grid"></div>
                        </div>
                    </div>
                </div>
                <div uib-slide index="2"
                     class="slide animated">
                    <div class="row">
                        <div class="col-sm-4">
                            <h3>Players Linha Branca</h3>
                        </div>
                        <div class="col-sm-offset-6 col-sm-2">
                            <button type="button" class="btn btn-default btn-sm" ng-click="adicionarLinhaBranca()"><i
                                    class="fa fa-plus" aria-hidden="true"></i></button>
                        </div>
                    </div></br>
                    <div class="row">
                        <div class="col-sm-12">
                            <div ui-grid="gridLinhaBranca" class="grid"></div>
                        </div>
                    </div>
                </div>
                <div uib-slide index="3"
                     class="slide animated">
                    <div class="row">
                        <div class="col-sm-4">
                            <h3>Concorrentes Revenda</h3>
                        </div>
                        <div class="col-sm-offset-6 col-sm-2">
                            <button type="button" class="btn btn-default btn-sm" ng-click="adicionarConcorrenteRevenda()"><i
                                    class="fa fa-plus" aria-hidden="true"></i></button>
                        </div>
                    </div></br>
                    <div class="row">
                        <div class="col-sm-12">
                            <div ui-grid="gridConcorrentes" class="grid"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </panel>
</div>
<div class="row">
    <panel id="perfil" title="Perfil da Revenda" icon="fa-shopping-cart" height="58" col="6">
        <panel-actions>
            <button type="button" class="btn btn-warning btn-sm" ng-click="editarPerfilDeRevenda()"><i
                    class="fa fa-pencil" aria-hidden="true"></i></button>
        </panel-actions>
        </br>
        <div class="row">
            <div class="col-sm-12">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2">Nº Lojas</label>
                        <div class="col-sm-4">
                            <input ng-disabled="isBlocked" type="text" class="form-control" placeholder="Nº Lojas"
                                   ng-model="selectedClient.revenda.numeroLojas">
                        </div>
                        <label class="col-sm-2">Faturamento Mensal</label>
                        <div class="col-sm-4">
                            <input ng-disabled="isBlocked" type="text" class="form-control"
                                   placeholder="Faturamento Mensal"
                                   ng-model="selectedClient.revenda.faturamentoMensal">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2">% LB</label>
                        <div class="col-sm-4">
                            <input ng-disabled="isBlocked" type="text" class="form-control" placeholder="% LB"
                                   ng-model="selectedClient.revenda.lb">
                        </div>
                        <label class="col-sm-2">% TOS 3</label>
                        <div class="col-sm-3">
                            <input ng-disabled="isBlocked" type="text" class="form-control" placeholder="% TOS 3"
                                   ng-model="selectedClient.revenda.tos.total">
                        </div>
                        <div ng-if="!isBlocked" class="col-sm-1">
                            <button type="button" class="btn btn-warning btn-sm"ng-click="editarTos()"><i
                                    class="fa fa-pencil" aria-hidden="true"></i></button>
                        </div>
                    </div>
                    <div ng-if="isBlockedTos" class="form-group">
                        <label class="col-sm-2">Refrigerador</label>
                        <div class="col-sm-2">
                            <input ng-change="calculaTos()" type="text" class="form-control" placeholder="% TOS 3"
                                   ng-model="selectedClient.revenda.tos.refrigerador">
                        </div>
                        <label class="col-sm-2">Lavadora</label>
                        <div class="col-sm-2">
                            <input ng-change="calculaTos()" type="text" class="form-control" placeholder="% TOS 3"
                                   ng-model="selectedClient.revenda.tos.lavadora">
                        </div>
                        <label class="col-sm-2">Fogão</label>
                        <div class="col-sm-2">
                            <input ng-change="calculaTos()" type="text" class="form-control" placeholder="% TOS 3"
                                   ng-model="selectedClient.revenda.tos.fogao">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2">Pricipal Segmento</label>
                        <div class="col-sm-4">
                            <input ng-disabled="isBlocked" type="text" class="form-control"
                                   placeholder="Pricipal Segmento"
                                   ng-model="selectedClient.revenda.principalSegmento">
                        </div>
                        <label class="col-sm-2">% Pricipal Segmento</label>
                        <div class="col-sm-4">
                            <input ng-disabled="isBlocked" type="text" class="form-control"
                                   placeholder="% Pricipal Segmento"
                                   ng-model="selectedClient.revenda.principalSegmentoValor">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2">Markup</label>
                        <div class="col-sm-4">
                            <input ng-disabled="isBlocked" type="text" class="form-control" placeholder="Markup"
                                   ng-model="selectedClient.revenda.markup">
                        </div>
                        <label class="col-sm-2">Data de atualização</label>
                        <div class="col-sm-4">
                            <input ng-disabled="isBlocked" type="text" class="form-control" placeholder="Numero"
                                   ng-model="selectedClient.revenda.data">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="client-class">
                <span class="title">Perfil da Loja</span>
                <ul>
                    <input ng-disabled="isBlocked" id="classea" ng-model="perfilLoja1" ng-true-value="1"
                           ng-false-value="0"
                           type="checkbox"/>
                    <label for="classea">Classe A</label>
                    <input ng-disabled="isBlocked" id="classeb" ng-model="perfilLoja2" ng-true-value="1"
                           ng-false-value="0"
                           type="checkbox"/>
                    <label for="classeb">Classe B</label>
                    <input ng-disabled="isBlocked" id="classec" ng-model="perfilLoja3" ng-true-value="1"
                           ng-false-value="0"
                           type="checkbox"/>
                    <label for="classec">Classe C</label>
                    <input ng-disabled="isBlocked" id="classed" ng-model="perfilLoja4" ng-true-value="1"
                           ng-false-value="0"
                           type="checkbox"/>
                    <label for="classed">Classe D</label>
                </ul>
            </div>
        </div>
    </panel>
    <panel title="Notas" icon="fa-comments" height="58" col="6">
        <div class="row">
            <div class="col-md-6">
                <h3 class="title-gray-block">Gerais
                    <button type="button" class="btn btn-success btn-sm note-plus" ng-init="mostra=true"
                            ng-click="mostra = !mostra"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                </h3>
                <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
                    <div uib-slide ng-repeat="geral in gerais track by geral.id" index="geral.id"
                         class="slide animated">
                        <span class="title">{{geral.titulo}}</span>
                        <span ng-show="mostra" class="text">{{geral.texto}}</span>
                        <textarea ng-show="!mostra" ng-model="geral.texto" cols="30" rows="20"></textarea>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h3 class="title-gray-block">Pontuais
                    <button type="button" class="btn btn-success btn-sm note-plus" ng-click="adicionarPontual()"><i
                            class="fa fa-plus-circle" aria-hidden="true"></i></button>

                </h3>
                <ul class="notes" ng-repeat="pontual in pontuais">
                    <li>
                        <button type="button" class="bootbox-close-button close white" data-dismiss="modal"
                                aria-hidden="true"
                                style="margin-top: -10px;" ng-click="removePontual(pontual)">×
                        </button>
                        <span class="text">{{pontual.texto}}</span>
                        <div class="date">{{pontual.data | date:'dd.MM.yyyy'}}</div>
                        <div class="noteuser">{{pontual.user.abreviado}}</div>
                    </li>
                </ul>
            </div>
        </div>
    </panel>
</div>
