
<div class="row">
    <panel title="Carteira X meta" icon="fa-user" height="50" col="6">
       
    </panel>
    <panel title="Cobertura carteira" icon="fa-bookmark" height="50" col="3">
        
    </panel>
      <panel title="Crescimento YTD Carteira" icon="fa-bookmark" height="50" col="3">
        
    </panel>
</div>
<div class="row">
    <panel title="Ranking" icon="fa-shopping-cart" height="50" col="6">
        
    </panel>
    <panel title="Processos Atualizados" icon="fa-comments" height="50" col="6">
        
    </panel>
</div>
