<div class="row content-row">
    <div class="col-sm-3">
        <h2 style="margin-top: 10px;margin-left: 10px;">Area Restrita</h2>
        <p style="font-size: 50px; padding-left: 20%;">
            <i class="fa fa-lock"></i>
        </p>
        <h4 style="margin-top: 10px;margin-left: 25px; margin-bottom: 2px">link1</h4>
        <h4 style="margin-top: 10px;margin-left: 25px; margin-bottom: 2px">link1</h4>
        <h4 style="margin-top: 10px;margin-left: 25px; margin-bottom: 2px">link1</h4>
        <h4 style="margin-top: 10px;margin-left: 25px; margin-bottom: 2px">link1</h4>
    </div>
    <div class="col-sm-3">
        <h2 style="margin-top: 10px;margin-left: 10px; margin-bottom: 2px">Area Restrita</h2>
        <p style="font-size: 50px; padding-left: 20%;">
            <i class="fa fa-lock"></i>
        </p>
        <h4 style="margin-top: 10px;margin-left: 25px; margin-bottom: 2px">link1</h4>
        <h4 style="margin-top: 10px;margin-left: 25px; margin-bottom: 2px">link1</h4>
        <h4 style="margin-top: 10px;margin-left: 25px; margin-bottom: 2px">link1</h4>
        <h4 style="margin-top: 10px;margin-left: 25px; margin-bottom: 2px">link1</h4>
    </div>
    <div class="col-sm-3">
        <h2 style="margin-top: 10px;margin-left: 10px; margin-bottom: 2px">Area Restrita</h2>
        <p style="font-size: 50px; padding-left: 20%;">
            <i class="fa fa-lock"></i>
        </p>
        <h4 style="margin-top: 10px;margin-left: 25px; margin-bottom: 2px">link1</h4>
        <h4 style="margin-top: 10px;margin-left: 25px; margin-bottom: 2px">link1</h4>
        <h4 style="margin-top: 10px;margin-left: 25px; margin-bottom: 2px">link1</h4>
        <h4 style="margin-top: 10px;margin-left: 25px; margin-bottom: 2px">link1</h4>
    </div>
    <div class="col-sm-3">
        <h2 style="margin-top: 10px;margin-left: 10px; margin-bottom: 2px">Area Restrita</h2>
        <p style="font-size: 50px; padding-left: 20%;">
            <i class="fa fa-lock"></i>
        </p>
        <h4 style="margin-top: 10px;margin-left: 10px; margin-bottom: 2px">link1</h4>
        <h4 style="margin-top: 10px;margin-left: 10px; margin-bottom: 2px">link1</h4>
        <h4 style="margin-top: 10px;margin-left: 10px; margin-bottom: 2px">link1</h4>
        <h4 style="margin-top: 10px;margin-left: 10px; margin-bottom: 2px">link1</h4>
    </div>
</div>