<div class="modal-header bg-primary" style="background-color:#333">
    <button type="button" class="bootbox-close-button close white" data-dismiss="modal" aria-hidden="true"
            style="margin-top: -10px;" ng-click="close()">×
    </button>
    <h4>Selecionar Cliente</h4>

</div>

<div class="modal-body">
    <uib-tabset active="active">
        <uib-tab index="0" heading="Lista de Clientes">
            <div class="modal-body">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-search"
                                                                          aria-hidden="true"></i></span>
                    <input type="text" class="form-control" placeholder="busca cliente" aria-describedby="sizing-addon1"
                           ng-model="filtro">
                </div>
                <table class="table table-hover table-responsive">
                    <thead>
                    <th>CNPJ</th>
                    <th>ID</th>
                    <th>Razao</th>
                    <th>Telefone</th>
                    <th>Email</th>
                    </thead>
                    <tbody>
                    <tr ng-repeat="cliente in clientes | filter:filtro" ng-click="selectClient(cliente)">
                        <td scope="row">{{cliente.cnpj}}</td>
                        <td>{{cliente.clienteEmissorId}}</td>
                        <td>{{cliente.razao}}</td>
                        <td>{{cliente.contatos[0].telefones[0].numero}}</td>
                        <td>{{cliente.email}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </uib-tab>
    </uib-tabset>
</div>
<div class="modal-footer">

</div>
