<div class="row">
    <panel title="Dados Entrega" icon="fa-truck" height="40" col="3">
        <dl class="dl-flex">
            <dt>Data Entrega</dt>
            <dd>___/___/___</dd>
            <dt>Data Base</dt>
            <dd>___/___/___</dd>
            <dt>Dias Conc.</dt>
            <dd>__</dd>
            <dt># Pedido</dt>
            <dd>____________</dd>
            <dt>Volumetria</dt>
            <dd>0.4 M3</dd>
            <dt>Voltagem</dt>
            <dd>220V</dd>
        </dl>
    </panel>
    <panel title="Histórico" icon="fa-history" height="40" col="3">
        <ul class="notes">
            <li>
                <span class="text">Feito contato com o cliente que comentou sobre promoções de outros concorrentes</span>
                <span class="date">03.04.2017 - 09:36:45</span>
            </li>
            <li>
                <span class="text">Feito contato com o cliente que comentou sobre promoções de outros concorrentes</span>
                <span class="date">03.04.2017 - 09:36:45</span>
            </li>
        </ul>
    </panel>
    <panel title="Últimas Simulações" icon="fa-sort-amount-asc" height="40" col="6">
        <panel-actions>
            <button type="button" class="btn btn-default btn-sm" ng-click="gotoDev()"><i class="fa fa-search" aria-hidden="true"></i> Filtro por SKU</button>
        </panel-actions>
        <table class="table table-hover">
            <!-- <caption>Monthly Kills</caption> -->
            <thead class="thead-bold">
                <tr>
                    <th>#</th>
                    <th>COD SAP</th>
                    <th>OV. SAP</th>
                    <th>DATA/HORA MODIF</th>
                    <th>VALOR</th>
                    <th>STATUS</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>545646454</td>
                    <td>654545</td>
                    <td>15.04.2017 - 15:49</td>
                    <td>R$ 76.000,00</td>
                    <td>GRAVADA</td>
                </tr>
                <tr class="success">
                    <td>2</td>
                    <td>65456465</td>
                    <td>121212</td>
                    <td>05.04.2017 - 20:49</td>
                    <td>R$ 44.000,00</td>
                    <td>EFETUADA</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>6545645</td>
                    <td>2332323</td>
                    <td>25.03.2017 - 08:49</td>
                    <td>R$ 150.000,00</td>
                    <td>GRAVADA</td>
                </tr>
                <tr class="danger">
                    <td>4</td>
                    <td>564544</td>
                    <td>8741212</td>
                    <td>10.02.2017 - 12:49</td>
                    <td>R$ 99.000,00</td>
                    <td>CANCELADA</td>
                </tr>
            </tbody>
        </table>
    </panel>
</div>
<div class="row">
    <panel title="Itens da Simulação" icon="fa-table" height="60" col="12">
        <panel-actions>
            <button type="button" class="btn btn-success btn-sm" ng-click="gotoDev()"><i class="fa fa-floppy-o" aria-hidden="true"></i> Salvar</button>
            <button type="button" class="btn btn-danger btn-sm" ng-click="gotoDev()"><i class="fa fa-exchange" aria-hidden="true"></i> Efetivar O.V</button>
           <!--  <button type="button" class="btn btn-info btn-sm" ng-click="gotoDev()"><i class="fa fa-download" aria-hidden="true"></i> Exportar</button> -->
            <button type="button" class="btn btn-warning btn-sm" ng-click="gotoDev()"><i class="fa fa-file-o" aria-hidden="true"></i> Nova Simulação</button>
        </panel-actions>
        <table class="table table-hover">
            <!-- <caption>Monthly Kills</caption> -->
            <thead class="thead-bold">
                <tr>
                    <th>#</th>
                    <th>Material</th>
                    <th>Cor</th>
                    <th>Voltagem</th>
                    <th>Cond. Pagt</th>
                    <th>Qnt</th>
                    <th>%ALT</th>
                    <th>PVL</th>
                    <th>Cond. Frete</th>
                    <th>VL Frete</th>
                    <th>VL NF Unit</th>
                    <th>VL ICMS</th>
                    <th>VL IPI</th>
                    <th>Centro Exp.</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>BRM47867676</td>
                    <td>Branca</td>
                    <td>220V</td>
                    <td>5020</td>
                    <td>5PC</td>
                    <td>-5%</td>
                    <td>R$ 885,00</td>
                    <td>CIP</td>
                    <td>R$ 45,34</td>
                    <td>R$ 924,34</td>
                    <td>R$ 13,05</td>
                    <td>R$ 8,56</td>
                    <td>C010</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>BRM122311</td>
                    <td>Branca</td>
                    <td>110V</td>
                    <td>5020</td>
                    <td>15PC</td>
                    <td></td>
                    <td>R$ 885,00</td>
                    <td>CIP</td>
                    <td>R$ 45,34</td>
                    <td>R$ 888,34</td>
                    <td>R$ 13,05</td>
                    <td>R$ 12,56</td>
                    <td>C010</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>BRM77878</td>
                    <td>Branca</td>
                    <td>220V</td>
                    <td>5020</td>
                    <td>3PC</td>
                    <td>-3%</td>
                    <td>R$ 885,00</td>
                    <td>CIP</td>
                    <td>R$ 40,34</td>
                    <td>R$ 745,34</td>
                    <td>R$ 13,05</td>
                    <td>R$ 21,56</td>
                    <td>C010</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>BRM65465456</td>
                    <td>Branca</td>
                    <td>110V</td>
                    <td>5020</td>
                    <td>30PC</td>
                    <td>-2%</td>
                    <td>R$ 885,00</td>
                    <td>CIP</td>
                    <td>R$ 30,34</td>
                    <td>R$ 1924,34</td>
                    <td>R$ 13,05</td>
                    <td>R$ 18,56</td>
                    <td>C010</td>
                </tr>
            </tbody>
        </table>
    </panel>
</div>
